{% extends 'social/layout.html' %}
{% load static %}
{% block content %}


<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style3.css' %}">
  </head>
  <body>
    <div class="login-box">
      <h2>Login</h2>
      <form method="post">
    
        {% csrf_token %}
        {{ form.as_p }}
    
        <button type="submit" id="submit" class="btn btn-success">Login</button>
      </form>
      <p>No tienes una cuenta?: <a href="{% url 'register' %}">Register</a></p>
    </div>
  </body>
</html>

{% endblock %}