{% for post in posts %}
<div class="container">
    <article>
        <div class="container-article">
            <img src="{{ post.user.profile.image.url }}">
            <div>
                <h2 class="username"><a href="{% url 'profile' post.user.username %}">@{{ post.user.username }}</a></h2>
                <i class="clock"></i>
                {% if post.image %}
                <img src="{{ post.image.url }}" alt="{{ post.name }}">
                {% endif %}
                <li>
                    <time data-time="#">{{ post.timestamp|naturaltime }}</time>
                    <h3>{{ post.name }}</h3>
                    <p>{{ post.description }}</p>
                    <p>Precio: {{ post.price }}</p>
                    
                </li>
            </div>
        </div>
        <hr>
    </article>
</div>